body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x:hidden;
    background-color: lightgray;
}

.nav{
    background-color: black;
    height: 10vh;
    width: auto;
}

nav ul{
    float: right;
    margin-top: 25px;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
    cursor: pointer;
}

nav ul li a:hover{
    color: tomato;
}

nav ul li .active{
    color: tomato;
}

.abbg{
    width: 100%;
    height: 80vh;
    opacity: 80%;
}

.details{
    height: 70vh;
    color: #fff;
    font-size: 28px;
    margin-left: 18px;
    margin-right: 18px;
    padding: 5px;
    margin-top: -35%;
    position: relative;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.footer{
    height: 50vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.contact{
    background-color: black;
    height: 35vh;
}

.service{
    width: 100%;
    margin-left: 15px;
    font-size: 20px;
    align-items: center;
    text-align-last: center;
    z-index: 1;
    justify-content: center;
}

.footer1{
    width: 33%;
    margin-top: 1%;
    position: relative;
    text-align-last: center;
    font-size: 22px;
}

.footer1 p{
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.footer2{
    width: 33%;
    margin-top: 1%;
    position: relative;
    text-align-last: center;
    font-size: 22px;
}

.ser li{
    font-family: 'Times New Roman', Times, serif;
}

.footer3{
    width: 33%;
    margin-top: 1%;
    position: relative;
    text-align-last: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.el email{
    justify-content: left;
}

.el h3{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.wp h3{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.phone h3{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.phone{
    height: 0vh;
}


