body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}
.nav{
    background-color: black;
    height: 10vh;
    width: 100%;
}

nav ul{
    float: right;
    margin-top: 25px;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
    cursor: pointer;
}

nav ul li a:hover{
    color: tomato;
}

nav ul li .active{
    color: tomato;
}

/* nav {
    background-color: black;
    height: 20vh;
    width: auto;
}

nav ul {
    float: right;
    margin-top: -80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
    cursor: pointer;
}

nav ul li a:hover {
    color: tomato;
}

nav ul li .active {
    color: tomato;
} */

nav {
    display: flex;
    flex-direction: row;
    height: 20vh;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

nav .nav-menu-icon {
    display: none;
}

nav .nav-items {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.brand-img {
    flex: 1;
    margin: auto;
}

.nav-logo {
    display: block;
}

.brand-img img {
    height: 80px;
}

.nav-button {
    background-color: #e03b8b;
    border: none;
    padding: 5px 40px;
    border-radius: 20px;
    cursor: pointer;
}

.body1 {
    height: 80vh;
}

.bg {
    height: 90vh;
    width: 100%;
}

.info {
    background-color: white;
    height: 25vh;
    text-align-last: center;
}

.columns {
    height: 40vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-left: 15px;
}

.columns1 {
    width: 31%;
    position: relative;
    background-color: lightgray;
    border-radius: 25px;
    transition: 1s;
    text-align-last: center;
    font-size: 22px;
    text-decoration: none;
    display: block;

}

.columns1:hover {
    transform: scale(1.1);
    z-index: 1;
}

.Sales {
    width: 90%;
    height: 26vh;
}

.columns2 {
    width: 31%;
    position: relative;
    background-color: lightgray;
    border-radius: 25px;
    transition: 1s;
    text-align-last: center;
    font-size: 22px;
    text-decoration: none;
}

.columns2:hover {
    transform: scale(1.1);
    z-index: 1;
}

.Services {
    width: 80%;
    height: 26vh;
}

.columns3 {
    width: 31%;
    position: relative;
    background-color: lightgray;
    border-radius: 25px;
    transition: 1s;
    text-align-last: center;
    font-size: 22px;
    text-decoration: none;
}

.columns3:hover {
    transform: scale(1.1);
    z-index: 1;
}

.remote {
    width: 80%;
    height: 26vh;
}

.space {
    background-color: white;
    height: 5vh;
}

.self {
    height: 60vh;
}

.blur {
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(15px) brightness(60px);
}

.details {
    color: #fff;
    font-size: 29px;
    margin-left: 18px;
    margin-right: 18px;
    padding: 5px;
    margin-top: -25%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}

.service-text h1 {
    text-align-last: center;
    margin-top: 26px;

}

.service {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.png {
    max-width: 150px;
    max-height: 150px;
    margin-top: 10px;
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    height: 50vh;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.contact {
    background-color: black;
    height: 35vh;
}

.service {
    width: 100%;
    margin-left: 15px;
    font-size: 20px;
    align-items: center;
    text-align-last: center;
    z-index: 1;
    justify-content: center;
}

.footer1 {
    width: 33%;
    margin-top: 1%;
    position: relative;
    text-align-last: center;
    font-size: 22px;
}

.footer1 p {
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.footer2 {
    width: 33%;
    margin-top: 1%;
    position: relative;
    font-size: 22px;
}

.footer2 h3 {
    text-align-last: center;
}

.ser li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    justify-content: left;
}

.footer3 {
    width: 33%;
    margin-top: 1%;
    position: relative;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.footer3 h3 {
    text-align-last: center;
}

.footer3 h4 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: -35px;
    margin-left: 50px;
}

/* img .logo {
    flex: 1;
    margin: auto;
} */
/* 
nav {

    flex-direction: row;

}

.nav-logo {
    display: block;
}

nav .button {
    display: none;
}

nav .navbar-item {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex: 2;
} */
/*
@media screen and (max-width:990px) {
    nav .navbar-item {
        display: none;
    }

    nav .button {
        display: block;
        margin: auto;
        color: #fff;
    }
}*/