body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

.nav {
    background-color: black;
    height: 10vh;
    width: auto;
}

nav ul {
    float: right;
    margin-top: 25px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
    cursor: pointer;
}

nav ul li a:hover {
    color: tomato;
}

nav ul li .active {
    color: tomato;
}

.rows{
    display: flex;
    width: auto;
    height: 500px;
    background-color: #585858;
    margin: 50px 50px;
}

.img {
    width: 40%;
}

.img-sale{
    width: 90%;
    height: 50vh;
    margin-top: 50px;
    margin-left: 30px;
}

.data{
    width: 60%;
}

.data p {
    margin: 50px;
    font-size: 24px;
    font-style: italic;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.footer {
    height: 50vh;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.contact {
    background-color: black;
    height: 35vh;
}

.service {
    width: 100%;
    margin-left: 15px;
    font-size: 20px;
    align-items: center;
    text-align-last: center;
    z-index: 1;
    justify-content: center;
}

.footer1 {
    width: 33%;
    margin-top: 1%;
    position: relative;
    text-align-last: center;
    font-size: 22px;
}

.footer1 p {
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.footer2 {
    width: 33%;
    margin-top: 1%;
    position: relative;
    font-size: 22px;
}

.footer2 h3 {
    text-align-last: center;
}

.ser li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    justify-content: left;
}

.footer3 {
    width: 33%;
    margin-top: 1%;
    position: relative;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.footer3 h3 {
    text-align-last: center;
}

.footer3 h4{
    font-family: 'Times New Roman', Times, serif;
    margin-top: -35px;
    margin-left: 50px;
}