body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x:hidden;
}

.nav{
    background-color: black;
    height: 10vh;
    width: auto;
}

nav ul{
    float: right;
    margin-top: 25px;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
    cursor: pointer;
}

nav ul li a:hover{
    color: tomato;
}

nav ul li .active{
    color: tomato;
}

.contact{
    background-color: black;
    height: 35vh;
}

.service{
    width: 100%;
    margin-left: 15px;
    font-size: 20px;
    align-items: center;
    text-align-last: center;
    z-index: 1;
    justify-content: center;
}

.columns {
    height: 40vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin-left: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.columns1 {
    width: 31%;
    position: relative;
    background-color: lightgray;
    border-radius: 25px;
    transition: 1s;
    text-align-last: center;
    font-size: 22px;
    text-decoration: none;
    display: block;

}

.Sales {
    width: 90%;
    height: 26vh;
}

.columns2 {
    width: 31%;
    position: relative;
    background-color: lightgray;
    border-radius: 25px;
    transition: 1s;
    text-align-last: center;
    font-size: 22px;
    text-decoration: none;
}

.Services {
    width: 80%;
    height: 26vh;
}

.columns3 {
    width: 31%;
    position: relative;
    background-color: lightgray;
    border-radius: 25px;
    transition: 1s;
    text-align-last: center;
    font-size: 22px;
    text-decoration: none;
}

.remote {
    width: 80%;
    height: 26vh;
}

.footer{
    height: 40vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer1{
    width: 33%;
    margin-top: 3%;
    position: relative;
    text-align-last: center;
    font-size: 22px;
}

.footer2{
    width: 33%;
    margin-top: 3%;
    position: relative;
    text-align-last: center;
    font-size: 22px;
}

.footer3{
    width: 33%;
    margin-top: 3%;
    position: relative;
    text-align-last: center;
    font-size: 22px;
}
